.main {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #cf2d21;
  height: 6vh;
  width: 100%;
}

.search-box {
  background-color:rgb(243, 212, 212);
  border: none;
  height:43h;
}
.search-box:hover{
  background-color: rgba(180, 189, 189, 0.027);
}
.accordian{
  width:20vw;
  }
.left {
  width: 20vw;
  min-height: 100vh;
  
}

.right {
  width: 80%;
  height: 100vh;
  background-color: white;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
}

li {
  list-style: none;
  border-bottom: 1px solid lightblue;
  padding: 10px;
  width:40vw
}

.info-container {
  width: 70%;
}

button {
  padding: 10px;
}

.dropdown{
margin-left:auto;
box-shadow: none !important;

}

.toggle{
background-color: white !important;
color:black !important;
border: none!important;


}


.dropdown-toggle::after{
  display: none !important;
}


.plus-button{

  border:none;
  background-color: none;
 
}

.info-line{

  width: 40vw;

}

a {
  color: black !important;
  text-decoration: none !important;
}





.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.dropdown-item{

  background-color: white !important;
}